<% if (success) { %>
    <div class="alert alert-success" style="color:green">
    <%= success %>
    </div>
<% } %>
<% if (error != null) { %>
    <div class="alert alert-error" style="color:red">
<%= error %>
    </div>
<% } %>