            <% if (success) { %>
                <div class="alert alert-success">
                <%= success %>
                </div>
                <% } %>
                <% if (error != null) { %>
                <div class="alert alert-error">
                <%= error %>
                </div>
                <% } %>
            <div id="container" class="container">
        <hr />
        <footer>
        <p><a href="http://www.byvoid.com/" target="_blank">BYVoid</a> 2012</p>
        </footer>
        </div>
    </body>
    <script src="/javascripts/jquery-1.12.4.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</html>
