<% include header.ejs %>
<div class="hero-unit">
  <% if(!user) { %>
  <h1>欢迎来到 Microblog</h1>
  <p>Microblog 是一个基于 Node.js 的微博系统。</p>
  <p>
    <a class="btn btn-primary btn-large" href="/login">登录</a>
     <a class="btn btn-large" href="/reg">立即注册</a>
  </p>
  <% } else{ %>
    <form action="/post" method="post" class="form-inline">
      <div class="form-group">
        <input type="text" name="post" class="form-control">
        <button type="submit" class="btn btn-success">发表</button>
      </div>
    </form>
  <% } %>
</div>
<%- include post.ejs %>
<%- include footer.ejs %>
