<% include nav.ejs %>
<div class="container container_bg" >
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 col-xs-12 my_edit" >
			<div class="row" id="edit_form" >
				<span class="pull-left" style="margin:15px;"></span>
				<span class="tips pull-right" style="margin:15px;"></span>
				<!--<form role="form" style="margin-top: 50px;">
					  <div class="form-group">
						   <div class="col-sm-12">
								<div contentEditable="true" id="content" class="form-control " ></div>  
							</div>
							<div class="col-sm-12" style="margin-top: 12px;">
								<span class="emoji" >表情</span>
								<span class="pic" >图片	</span>
								<span>
									<input type="file" name=""  class="select_Img" style="display: none" >
									<img class="preview" src="">
								</span>
								<div class="myEmoji" >
									<ul id="myTab" class="nav nav-tabs">
										<li class="active">
											<a href="#set" data-toggle="tab">
											   预设
											</a>
										</li>
										<li><a href="#hot" data-toggle="tab">热门</a></li>
									</ul>
									<div id="myTabContent" class="tab-content">
										<div class="tab-pane fade in active" id="set">
											<div class="emoji_1"></div>
										</div>
										<div class="tab-pane fade" id="hot">
										  <div class="emoji_2"></div>
										</div>
									</div>
								</div>
								<button type="button" id="send" class="btn btn-default pull-right disabled">发布</button>
							</div>
					  </div>
				</form> -->
        <form class="form-horizontal" method="post">
          <legend>用户登录</legend>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="username">用户名</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="username" name="username">
            </div>
          </div>
          <div class="form-group" style="padding-top:10px;">
            <label class="col-sm-2 control-label" for="password">密码</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="password" name="password">
            </div>
          </div>
          <div class="form-group" style="padding-top:10px;">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary form-control">登录</button>
            </div>
          </div>
        </form>
			</div>
		</div>
	</div>
</div>
<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
<% include suffix.ejs %>
